.itemDetails__noCard {
  font-size: 26px;
  font-size: 28px;
  text-align: center;
}

.itemDetails__card {
  display: flex;
  flex-direction: column;
  align-items:  center;
}

.itemDetails__title {  
  margin: 0 0 10px 0;
  font-weight: 800;
  text-align: center;
}

.itemDetails__imageWrap {
  display: flex;
  height: 350px;
}

.itemDetails__image {
  margin: auto;
  overflow:hidden;
}

.itemDetails__price {
  font-style: italic;
  font-weight: 800;
  padding: 20px 0 20px 0;
}

.itemDetails__addBasket {
  width: 250px;
  height: 50px;
  font-size: 16px;
  font-weight: 800;
}

.itemDetails__addBasketMessage {
  color: blueviolet;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.itemDetails__addBasketMessage--active {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-out;
}