.listGroup__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.listGroup__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 500px;
  height: 70px;
  background-color: #e5e5e5;
  border: 2px solid #a0a5a5;
  border-radius: 15px;
  box-shadow: 15px;
  margin: 5px 0 5px 0;
  padding: 15px 15px 15px 20px;
  transition: all 0.5s ease-out;
}

.listGroup__itemImg{
  margin-right: 20px;
}

.listGroup__item:hover {
  background-color: #a0a5a5;
  transform: scale(1.1);
}

.listGroup__itemModel {
  width: 80%;
}
.listGroup__itemAmount {
  width: 20%;
}

.listGroup__itemTotal {
  width: 20%;
}